body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 384px;
  max-height: 100vh;
}

.number-slide2 {
  background: rgba(255, 74, 64, 0);
}

.navigation-wrapper {
  position: relative;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.arrow--left {
  left: -40px;
}

.arrow--right {
  left: auto;
  right: -40px;
}

.arrow--disabled {
  fill: rgba(166, 164, 164, 0.5);
}
