.navigation-wrapper {
  position: relative;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: red;
  cursor: pointer;
}

.arrow--right {
  left: auto;
  top: 38%;
}

.arrow--disabled {
  fill: rgba(166, 164, 164, 0.5);
}

