.navigation-wrapper {
  position: relative;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #f45656;
  cursor: pointer;
}
@media screen and (min-width: 440px) and (max-width: 767px) {
  .arrow {
    fill: #f45656 !important;
  }
}

.arrow--left {
  left: 5px;
  top: 50%;
}

.arrow--right {
  left: auto;
  right: 5px;
  top: 50%;
}
