@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.container {
  width: min(1200px, 70%);
  margin-top: 100px;
  margin-inline: auto;
  height: 100vh;
}

.card {
  width: 280px;
  height: 280px;
}
@layer utilities {
  .content-1 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }
  .content-2 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-align: justify;
  }
  .content-md {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    text-align: left;
  }
  .content-sm {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-align: left;
  }
  .content-xs {
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
    text-align: justify;
  }
}
