@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  background-color: #0f100b;
}
.container {
  width: min(1200px, 70%);
  margin-inline: auto;
}
